
<div class="page">
  <button
      class="theme-floating"
      type="button"
      (click)="toggleTheme()"
      aria-label="Toggle theme"
    >
      {{ theme() === 'dark' ? '☀️' : '🌙' }}
    </button>
  <!-- HEADER: SOLO CUANDO ESTÁ LOGUEADO -->
  <header class="page-header" *ngIf="auth.isLoggedIn()">

    <!-- Toggle tema -->


    <div class="brand">
      <img class="title-logo" src="./assets/icons/smart-logo.png" />
      <h1>Smart Habits</h1>
    </div>

    <div class="actions">
      <div class="user-info">

        <div class="user-meta">
          <button
            type="button"
            class="ghost"
            (click)="auth.logout()"
          >
            ⎋ Logout
          </button>
        </div>

        <img
          class="avatar"
          [src]="auth.user()?.picture"
          alt="User avatar"
          referrerpolicy="no-referrer"
        />
      </div>
    </div>
  </header>

  <!-- AUTH / LANDING (SIEMPRE EN EL DOM) -->
  <section
    class="auth-hero"
    [class.hidden]="auth.isLoggedIn()"
  >

    <!-- Toggle tema -->
    <button
      class="theme-floating"
      type="button"
      (click)="toggleTheme()"
      aria-label="Toggle theme"
    >
      {{ theme() === 'dark' ? '☀️' : '🌙' }}
    </button>

    <img class="hero-logo" src="./assets/icons/smart-logo.png" />

    <h2>Smart Habits</h2>
    <p class="tagline">Construye hábitos, un día a la vez</p>

    <!-- Google SIEMPRE aquí -->
    <section class="login-container">
      <div id="google-btn"></div>
    </section>
  </section>

  <!-- CONTENIDO SOLO CUANDO ESTÁ LOGUEADO -->
  <main *ngIf="auth.isLoggedIn()">

    <section>
      <app-habit-form
        (createHabit)="store.addHabit($event)">
      </app-habit-form>
    </section>

    <section>
      <app-habit-stats
        [total]="store.totalHabits()"
        [completed]="store.completedHabits()"
        [pending]="store.pendingHabits()"
        [progress]="store.progress()">
      </app-habit-stats>
    </section>

    <section>
      <app-habit-filters
        [current]="store.filter()"
        (change)="store.setFilter($event)">
      </app-habit-filters>
    </section>

    <section>
      <app-calendar-grid
        [days]="store.calendarDays()"
        (selectDay)="store.selectDate($event)">
      </app-calendar-grid>
    </section>

    <section>
      <app-habit-list
        *ngIf="store.hasFilteredResults(); else emptyState"
        [habits]="store.habitsForSelectedDay()"
        (toggleHabit)="store.toggleHabit($event)"
        (editHabit)="store.editHabit($event.id, $event.title)"
        (deleteHabit)="store.deleteHabit($event)">
      </app-habit-list>

      <ng-template #emptyState>
        <p class="empty">
          Agrega un hábito ✨
        </p>
      </ng-template>
    </section>

  </main>

</div>
