<div class="page">
<header class="page-header">
  <div class="brand">
    <img
      class="title-logo"
      src="./assets/icons/smart-logo.png"
      alt="Smart Habits logo"
    />
    <h1>Smart Habits</h1>
  </div>

  <button
    type="button"
    class="theme-toggle"
    (click)="toggleTheme()"
    aria-label="Toggle dark mode"
  >
    {{ theme() === 'dark' ? '☀️' : '🌙' }}
  </button>
</header>

  <main>
    <section aria-labelledby="add-habit-title">
      <h2 id="add-habit-title" class="sr-only">Add new habit</h2>

      <app-habit-form
        (createHabit)="store.addHabit($event)">
      </app-habit-form>
    </section>

    <section aria-labelledby="stats-title">
      <h2 id="stats-title" class="sr-only">Habits statistics</h2>

      <app-habit-stats
        [total]="store.totalHabits()"
        [completed]="store.completedHabits()"
        [pending]="store.pendingHabits()"
        [progress]="store.progress()">
      </app-habit-stats>
    </section>

    <section aria-labelledby="filters-title">
      <h2 id="filters-title" class="sr-only">Filter habits</h2>

      <app-habit-filters
        [current]="store.filter()"
        (change)="store.setFilter($event)">
      </app-habit-filters>
    </section>

    <section aria-labelledby="calendar-title">
  <h2 id="calendar-title" class="sr-only">Calendar</h2>

  <app-calendar-grid
    [days]="store.calendarDays()"
    (selectDay)="store.selectDate($event)">
  </app-calendar-grid>
</section>


    <section aria-labelledby="list-title">
      <h2 id="list-title" class="sr-only">Habits list</h2>

 <app-habit-list
  *ngIf="store.hasFilteredResults(); else emptyState"
[habits]="store.habitsForSelectedDay()"
  (toggleHabit)="store.toggleHabit($event)"
  (editHabit)="store.editHabit($event.id, $event.title)"
  (deleteHabit)="store.deleteHabit($event)">
</app-habit-list>


      <ng-template #emptyState>
        <p class="empty" role="status" aria-live="polite">
          {{
            store.hasHabits()
              ? 'No habits match this filter.'
              : 'You don’t have habits yet. Start by adding one ✨'
          }}
        </p>
      </ng-template>
    </section>
  </main>
</div>
