<div class="page">
  <!-- HEADER: SIEMPRE visible -->
 <header class="page-header">
  <div class="brand">
    <img class="title-logo" src="./assets/icons/smart-logo.png" />
    <h1>Smart Habits</h1>
  </div>

  <div class="actions">
    @if (auth.isLoggedIn()) {
      <button
        type="button"
        class="ghost"
        (click)="auth.logout()"
        aria-label="Logout"
      >
        ⎋ Logout
      </button>
    }

    <button
      type="button"
      class="theme-toggle"
      (click)="toggleTheme()"
    >
      {{ theme() === 'dark' ? '☀️' : '🌙' }}
    </button>
  </div>
</header>


  <!-- CONTENIDO SOLO SI ESTÁ LOGUEADO -->
  <main *ngIf="auth.isLoggedIn(); else login">
    <section>
      <app-habit-form
        (createHabit)="store.addHabit($event)">
      </app-habit-form>
    </section>

    <section>
      <app-habit-stats
        [total]="store.totalHabits()"
        [completed]="store.completedHabits()"
        [pending]="store.pendingHabits()"
        [progress]="store.progress()">
      </app-habit-stats>
    </section>

    <section>
      <app-habit-filters
        [current]="store.filter()"
        (change)="store.setFilter($event)">
      </app-habit-filters>
    </section>

    <section>
      <app-calendar-grid
        [days]="store.calendarDays()"
        (selectDay)="store.selectDate($event)">
      </app-calendar-grid>
    </section>

    <section>
      <app-habit-list
        *ngIf="store.hasFilteredResults(); else emptyState"
        [habits]="store.habitsForSelectedDay()"
        (toggleHabit)="store.toggleHabit($event)"
        (editHabit)="store.editHabit($event.id, $event.title)"
        (deleteHabit)="store.deleteHabit($event)">
      </app-habit-list>

      <ng-template #emptyState>
        <p class="empty">
          No habits yet. Start by adding one ✨
        </p>
      </ng-template>
    </section>
  </main>

  <!-- LOGIN VIEW -->
  <ng-template #login>
    <section class="login-container">
      <h2>Sign in</h2>
      <div id="google-btn"></div>
    </section>
  </ng-template>
</div>
